<!DOCTYPE html>
<html>

<head>

<title>
FScratch
</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<!--  
{% static 'css/boot/bootstrap.css' %}
-->

<link rel="stylesheet" href="{% static 'css/boot/bootstrap3.4.0.min.css' %}" />

  
<script src="{% static 'js/boot/jquery3.3.1.min.js' %}">
</script>


<script src="{% static 'js/boot/bootstrap3.4.0.min.js' %}">
</script>


<!--
<link rel="stylesheet" href="css/boot/bootstrap.min.css" />

  
<script src="js/boot/jquery.min.js">
</script>


<script src="js/boot/bootstrap.min.js">
</script>
-->

<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->

<!-- jQuery library
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<!-- Latest compiled JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->


</head>

<body style="width: 100%; border-radius: 20px;">

{% include 'html/navbar.html' %}
<!-- Home -->

<div class="panel-info">

<h1>Hi {{request.user.username}}</h1>
</div>


<!-- Body Here -->


<div class="container text-center">   

<!-- Left Side here -->

  <div class="row">
    <div class="col-sm-3 well">
    
      <div class="well"> 
        
        <!-- <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">  -->
        {% load avatar_tags %}
        
        {% if request.user|has_avatar == True %}
        <img src="DEFAULT_IMAGE" />
        <p><a href="{% url 'avatar_change' %}">My Profile</a></p>
        {% avatar user %}
        {% else %}
        <div class="label label-info"> </div>
        Welcome
        {% endif %}

      </div>
      
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">W3Schools</span>
          <span class="label label-success">Labels</span>
          <span class="label label-info">Football</span>
          <span class="label label-warning">Gaming</span>
          <span class="label label-danger">Friends</span>
          
        </p>
      </div>
      
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">close</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      
      <p class="label label-warning" style="border-radius: 20px;"><a href="{% url 'avatar_change' %}">Change your avatar</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      
    </div>
    
    <!-- Left Side End -->

    <!-- Right Side here -->
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>     
      
      <div class="well">
        <p>ADS</p>
      </div>
      
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    <!-- Right Side End -->


    <!-- Center Content here -->
    
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">

<!-- Mid Content -->


