<html>

<head>

<title>
FScratch
</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="{% static 'css/jquery/jquery.mobile-1.3.0.min.css' %}" />


<!--
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" />
-->

</head>

<body style="width: 100%">

<div id="myhome" data-role="page" class="ui-responsive-panel" data-theme="b">

{% include 'html/left.html' %}

<!-- Home -->

<div data-role="header" data-position="fixed" id="header1">
<h1>Hi {{request.user.username}}</h1>

<a href="#leftpanel" 
data-rel="panel"
data-rol="button"
data-theme="a"
data-icon="open"
class="ui-btn-left">Menu</a>

</div>

<div data-role="content" data-theme="b">